@import 'react-alice-carousel/lib/alice-carousel.css';

.carousel {
  height: 68vh;
}

.alice-carousel {
  margin-top: 50px;
  height: 400px;
  width: 90%;

  .item {
    height: 300px;
    width: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    img {
      max-height: 200px;
    }
  }
}

.carousel__inventory {
  text-align: center;
}