

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

.primary1 {
  background-color: #ce5bf2
}

.primary2 {
  background-color: #e1d5f2
}

.primary3 {
  background-color: #7552f2
}

.secondary1 {
  background-color: #50B4f2
}

.secondary2 {
  background-color: #F2b705
}

@media (grid: 0) {
  /* MOBILE GRID LAYOUT */
  @media (min-width:20em) {
    .container {
      display: grid;
      height: 200vh;
      width: 100vw;
      margin: 10px 10px 10px 10px;
      grid-template: 1fr 3fr 1fr 5fr 2fr 2fr / 1fr;
      gap: 20px;
      grid-template-areas:
        "header"
        "hero"
        "equipment-selector"
        "main"
        "similar-item"
        "footer"
      ;
    }

    .logo {
      background-color:beige;
      grid-area: logo;
      min-width: 9em;
    }

    .header {
      background-color:azure;
      height: 100%;
      width: 100%;
      grid-area: header;

      display: grid;
      grid-template: 1fr / repeat(2, 1fr);
      grid-template-areas:
      "logo nav-buttons"
      ;
    }

    .nav-buttons {
      background-color:#F2b705;
      grid-area: nav-buttons;
      min-width: 9em;
    }

    .nav {
      display: none;
    }

    .hero {
      background-color:beige;
      grid-area: hero;
    }

    .equipment-selector {
      background-color:blueviolet;
      grid-area: equipment-selector;
    }

    .main {
      background-color:aliceblue;
      grid-area: main;
    }

    .similar-item {
      background-color:royalblue;
      grid-area: similar-item;
    }

    .vertical-banner-main {
      display:none;
    }

    .horizontal-banner-main {
      display:none;
    }

    .footer {
      background-color:palegoldenrod;
      grid-area: footer;
    }
  }

  /* DESKTOP GRID LAYOUT */
  @media (min-width: 80em) {
    .container {
      grid-template: 1fr 3fr 1fr 5fr 2fr 2fr / 2fr 6fr 2fr;
      grid-template-areas:
        "header header header"
        "nav hero banner"
        "nav equipment-selector banner"
        "nav main banner"
        "nav similar-item banner"
        "footer footer footer"
      ;
    }

    .logo {
      background-color:beige;
      grid-area: logo;
      min-width: 9em;
    }

    .nav {
      background-color:green;
      min-width: 200px;
      grid-area: nav;
      display: block;
    }

    .header {
      display: grid;
      grid-template: 1fr / 2fr 6fr 2fr;
      grid-template-areas:
      "logo horizontal-banner nav-buttons"
      ;
    }

    .horizontal-banner-main {
      background-color: rgb(74, 190, 114);
      min-width: 10em;
      display: block;
      grid-area: horizontal-banner;
    }

    .nav-buttons {
      display: none;
    }

    .vertical-banner-main {
      background-color:rgb(194, 38, 38);
      grid-area: banner;
      display: block;
    }
  }
}


