@import '../../App';

.nav-menu-display {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  background: white;

  svg {
    width: 70%;
    height: 100%;
    color: rgb(0, 0, 0);
  }
  div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    padding: 1rem;
    width: 40%;
    height: 100vh;
    border-left: 1.2px solid black;
    display: flex;
    flex-direction: column;

    background-color: $secondary2;
    // box-shadow: 0 0 20px rgba(168,168,168,0.15);

    svg {
      width: 20%;
      height: 10%;
      color: $primary3;
    }

    ul {
      a {
        text-decoration: none;
      }
    }
  }
}

.logo {
  display: flex;
  flex: 1;
  align-items: center;

  img {
    margin-left: 20px;
    height: 150px;
  }

  @media (min-width: 80em) {
    img {
      display: none;
    }
  }
}

.horizontal-banner-container {
  height: 100%;
  width: 100%;
  background-color: $primary3;

  img {
    object-fit: cover;
    height: 100%;
  }
}