@import '../../App.scss';

h3 {
  color: white;
}

@media (grid: 0) {
  @media (min-width:20em) {
    .calc-container-main {
      display: flex;
      flex-direction: column;
      width: 80%;
      align-items: center;
    }

    .calc-stats-context-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 70px;

    }

    .calc-main-stat, .calc-main-context {
      border: solid #5f49bf;
      border-radius: 50px;
      display: flex;
      margin-bottom: 30px;
    }

    .calc-context {
      background-color: $secondary1;
      width: 560px;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .calc-stats {
      background-color: $secondary1;
      width: 100%;
      border-radius: 50px;
      display: grid;
      align-content: space-around;
      justify-items: center;
      grid-template: repeat(12, 1fr) / 12em 12em;
      grid-template-areas:
      "flatAtk flatAtk"
      "flatHp flatHp"
      "flatDef flatDef"
      "atkPercent atkPercent"
      "defPercent defPercent"
      "hpPercent hpPercent"
      "critChance critChance"
      "critDamage critDamage"
      "effectiveness effectiveness"
      "effectResist effectResist"
      "speed speed"
      ;
      padding: 30px;

      div {
        display:grid;
        grid-template: 1fr / 1fr 1fr;
        align-items: center;
        input {
          width: 50px;
        }
      }

      button {
        border-radius: 25px;
        width: 50%;
      }

      label {
        margin: 0px 40px
      }
    }
    .stat-input-flatAtk {
      grid-area: flatAtk;
    }
    .stat-input-flatHp {
      grid-area: flatHp;
    }
    .stat-input-flatDef {
      grid-area: flatDef;
    }
    .stat-input-atkPercent {
      grid-area: atkPercent;
    }
    .stat-input-defPercent {
      grid-area: defPercent;
    }
    .stat-input-hpPercent {
      grid-area: hpPercent;
    }
    .stat-input-critChance {
      grid-area: critChance;
    }
    .stat-input-critDamage {
      grid-area: critDamage;
    }
    .stat-input-effectiveness {
      grid-area: effectiveness;
    }
    .stat-input-effectResist {
      grid-area: effectResist;
    }
    .stat-input-speed {
      grid-area: speed;
    }
  }
  @media (min-width: 80em) {
    .calc-stats {
      width: 500px;
      grid-template: repeat(7, 1fr)/ 1fr 1fr;
      grid-template-areas:
      "flatAtk flatHp"
      "flatDef atkPercent"
      "defPercent hpPercent"
      "critChance critDamage"
      "effectiveness effectResist"
      "speed speed"
      ;

      div {
        justify-items: end;
      }
    }
  }
}