@import '../../index.scss';

nav.vertical__nav {
  background: rgba(0,0,0,0.3);
  height: 100%;
  width: 8rem;
  display: block;
  z-index: 2;
  position: fixed;
  left:0;
  bottom: 0;
  display: flex;
  gap: 0.8rem;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    background: transparent;
    padding: 0.9rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color: $color-light;
    font-size: 1.1rem;
  }

  a:hover {
    background: rgba(0,0,0,0.3);
  }

  a.active {
    background: $color-bg;
    color: $color-white
  }

  .vertical__nav-login:last-child {
    padding-top: calc(var(--window-height) - 340px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vertical__nav-login{
    width: 100%;


  }
}



/* =========== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
  nav.vertical__nav {
    width: 6rem;

  }
}
/* =========== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
  nav.vertical__nav {
    display: none;
  }
}