@import '../../App.scss';

.background-login-main {
  width: 100vw;
  height: 100vh;
  background: $bg1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card {
    height: 800px;
    width: 90vw;
    max-width: 600px;
    border: 2px solid rgba(0, 0, 0, 0.073);
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: rgb(61, 61, 61);
      font-size: 3em;
      margin-bottom: 2em;
      margin-top: 2em;
    }

    form {
      height: 100vh;
      max-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      div {
        display: flex;
        flex-direction: column;

        input {
          height: 25px;
        }
      }

      button  {
        width: 80vw;
        max-width: 400px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid black;
        background-color: rgb(56, 144, 245);
        font-size: 1.2em;
        color: white;
      }
    }
  }

  .additional {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
    * {
      color: white;
    }
  }
}