.section__tools {
  height: 150vh;
}

.tools__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
}

.tools__equipment-selector {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10%;
  padding-bottom: 10rem;
}

.tools__calculator{
  width: 100%;
  text-align: center;
}

.calc__CTA {
  margin: 0 auto;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
  .section__tools {
    height: 200vh;
  }

  .calculator__main {
    flex-direction: column;
  }
}