@import '../../../index.scss';

.reel-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $color-white;
  }
}

.inventory__select {
  border-radius: 20px;
  border: 3px solid $color-secondary;
  overflow: hidden;
}

.inventory-select-main {
  --gap: 1rem;
  height: 10rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 26%;
  overflow-x: scroll;
  overflow: auto;
  scroll-snap-type: x mandatory;
  gap: var(--gap);
  scroll-padding: var(--gap);
  margin: auto;
  align-items: center;
  justify-items: center;

  .type-container {
    border-radius: 4rem;
    border: none;
    height: 7.5rem;
    width: 7.5rem;
    overflow: hidden;
    background: transparent;
    border: 4px solid $color-primary-variant;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease-in-out, color 0.3s ease;

    img {
      height: 7rem;
      filter: invert(49%) sepia(23%) saturate(7500%) hue-rotate(197deg) brightness(240%) contrast(91%)
    }

    div {
      font-size: 30px;
      color: $color-white;
    }
  }

  .type-container:hover {
    cursor:grab;
    background: black;
  }

}

.inventory-select-main > * {
  scroll-snap-align: start;
}

.type-container.selected {
  background: $color-primary;
  border-radius: 60px;
  height: 7.5rem;
  width: 7.5rem;

  img {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(280deg) brightness(1000%) contrast(100%);
  }
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
  .inventory-select-main{
    height: 8rem;
    .type-container {
      height: 6rem;
      width: 6rem;
      img {
        height: 5rem;
      }
    }
  }

  .inventory__select {
    width: 75%;
  }

}
/* =========== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
  .reel-main:first-child {
    display: none;
  }
  .reel-main:nth-child(2) {
    .inventory-select-main {
      grid-auto-flow: row;
      justify-content: center;
      height: 20rem;
    }
  }
}